language: julia
os:
  - linux
julia:
  - 1.0
  - 1.1
  - 1.2
  - nightly

notifications:
  email: false

matrix:
  allow_failures:
    - julia: nightly

addons:
  apt:
    packages:
      - hdf5-tools

# script:
#   - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#   - julia --check-bounds=yes -e 'using Pkg; Pkg.clone(pwd()); Pkg.test("RoME"; coverage=true)'

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("RoME")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
